<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <span class="main-header">Pokemon Cards</span>
      </header>
    <main>
        <div style="width: 100%;" class="main-content">
            <div class="card"><a class="button" href="/products">Go back to products</a></div>
        </div>
        <div class="main-content">
        <form action="/products/" method="POST">
            Name: <input type="text" name="name" /><br />
            Description: <input type="text" name="description" /><br />
            Image Link: <input type="text" name="img" /><br />
            Price: <input type="text" name="price" /><br />
            Quantity: <input type="number" name="qty" /><br />
            <input class="button" type="submit" value="Create Pokemon" />
        </form>
        </div>
    </main>
    
</body>
</html>